/*
grassiest charcoal
#343837
indiscernible ocean blue
#03719C
unsusceptible blue/green
#0F9B8E

font-family: 'Baloo Tamma 2', cursive;
*/

body {
    background: rgb(52, 56, 55);
    background-image: url(./img/background_comp.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #0F9B8E;
    text-align: center;
}

main {
    display: block;
    position: relative;
    top: 10vh;
}

/* Navigation header */

nav {
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
    position: relative;
    text-align: end;
    margin-top: -20px;
    margin-bottom: -5rem;
    backface-visibility: hidden;
}
.nav-list {
    display: inline-block;
}
.nav-li {
    display: inline-block;
}
.nav-a {
    display: inline-block;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    color: rgba(255, 0, 0, 0.788);
    font-size: 1.3rem;
    padding: 0.5rem 1.2rem;
    border: solid 4px #03719C;
    border-radius: 5rem;
    background-color: rgba(15, 155, 141, 0.582);
    margin: 5px 5px;
    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    
    transition: all 400ms;
}
.nav-a:hover {
    background-color: #0F9B8E;
    color: rgba(255, 0, 0);
    transform: translateY(0.5rem);
    box-shadow: 2px -2px 15px rgb(34, 34, 34);

    transition: all 400ms;
}

.nav-li:nth-child(1) {
    animation: dropDown 1500ms ease-out;
}
.nav-li:nth-child(2) {
    animation: dropDown 1750ms ease-out;
}
.nav-li:nth-child(3) {
    animation: dropDown 2000ms ease-out;
}

/* Side Nav/Menu (Button) */

.btn-menu {
    position: absolute;
    display: block;
    top: 0rem;
    left: 0.1rem;
    box-sizing: border-box;
    height: 4rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: solid 0.25rem #03719C;
    border-radius: 100%;
    background-color: rgba(15, 155, 141, 0.582);
    box-shadow: 2px 5px 10px rgb(34, 34, 34);

    z-index: 100;

    animation: scaleOut 1000ms ease-out;

    transition: all 400ms;
}
.btn-menu:hover {
    cursor: pointer;
    background-color: #0F9B8E;

    transition: all 400ms;
}

.btn-menu.active {
    transform: rotate(90deg);
    box-shadow: 4px -2px 10px rgb(34, 34, 34);
}

/* Side Nav/Menu (Menu) */

.side-nav {
    position: absolute;
    box-sizing: content-box;
    display: inline-block;
    backface-visibility: hidden;
    left: 0%;
    top: -100%;
    /* top: -100%; change this back when ready*/
    width: 20rem;
    height: 90vh;
    background-color: rgba(15, 155, 141, 0.582);
    border-radius: 0px 0px 20px 0px;
    box-shadow: 2px 2px 5px rgb(34, 34, 34);

    z-index: 50;

    transition: all 300ms ease-out;
}
.side-nav.active {
    top: 0%;

    transition: all 420ms ease-out;
}

.ul-menu {
    margin-top: 2rem;
}

.side {
    display: block;
    position: relative;
    text-align: center;
    margin: 0rem 0rem;
    padding: 2rem 0rem;
    font-family: 'Baloo Tamma 2', cursive;
    font-weight: 400;
    font-size: 2.5rem;
    color: #273330;

    transition: all 500ms;
}
.side:hover {
    cursor: default;
    background-color: rgba(15, 155, 141, 0.904);

    transition: all 300ms;
}
.side:hover .hover-content {
    display: block;
}

.hover-content {
    display: none;

    /* for small screens, set postion: relative and make links appear like a list below. Absolute for desktop*/

    position: absolute;
    left: 20rem; /* make sure this matches the width of .side-nav */
    top: -2rem;
    background-color: rgba(15, 155, 141, 0.582);
    min-width: 20rem;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 2px 2px 5px rgb(34, 34, 34);
    
    z-index: 1;
}
.hover-content a {
    color: #1c2724;
    font-size: 1.5rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    animation: sideNavSlide 300ms ease-out;

    transition: all 300ms;
}
.hover-content a:hover {
    color: rgba(255, 0, 0, 0.788);
    transform: scale(1.2);

    transition: all 300ms;
}

/* Icon Links */

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

.link {
    box-sizing: border-box;
    height: 7rem;
    width: 7rem;
    margin: 1rem 2rem;
    padding: 0;
    border: solid 4px #03719C;
    border-radius: 100%;
    background-color: #0F9B8E;
    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 500ms;

    animation: scaleOut 1000ms ease-out;
}
.link:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transition: all 200ms;
}

.link.youtube {
    padding: 0.55rem;
}
.link.gmail {
    padding: 0.55rem;
}
.link.udemy {
    padding: 0.25rem;
}

/* Search Bar and Button */

.search-box {
    display: inline-block;
    position: relative;
    margin: auto;
    margin-top: 3rem;
}

.search-bar {
    width: 25rem;
    height: 2rem;
    font-size: 2rem;
    background-color: rgba(15, 155, 141, 0.39);
    border: 0.2rem solid #03719C;
    border-radius: 1.3rem;
    padding: 0.2rem 1rem;
    color: #343837;

    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 300ms;
}
.search-bar:focus {
    outline: none;
    border-radius: 0.7rem;
    background-color: #0F9B8E;
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transform: translateY(-0.2rem);
    transition: all 400ms;
}

.btn-search {
    display: inline-block;
    position: absolute;
    transform: translateY(-0.75rem);
    height: 2rem;
    margin: 1rem;
    border: solid 0.25em #03719C;
    border-radius: 100%;
    background-color: rgba(15, 155, 141, 0.39);
    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 400ms;
}
.btn-search:focus {
    outline: none;
}

.btn-focus {
    background-color: #0F9B8E;
    border-radius: 0.9rem;
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transform: translateY(-1rem);
    transition: all 400ms;
}
.btn-inactive:hover {
    animation: infinite blinking 2000ms ease-in-out;
}

/* Clock */

.time-box {
    display: block;
    position: relative;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.time {
    font-size: 8rem;
    color: rgba(15, 155, 141, 0.39);
}
.time:hover {
    cursor: default;
}
.tick {
    color: #0F9B8E;
}

/* Footer */

.version-text-desktop {
    display: block;
    letter-spacing: 0.3rem;
    font-size: 1.3rem;
    margin-top: 2rem;
}
.version-text-mobile {
    display: none;
    letter-spacing: 0.25rem;
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

/* Animations */

@keyframes blinking {
    0% {
        background-color: rgba(15, 155, 141, 0.39);
    }
    50% {
        background-color: #0F9B8E;
    }
    100% {
        background-color: rgba(15, 155, 141, 0.39);
    }
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes scaleOut {
    0% {
        opacity: 0%;
        transform: scale(0.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes sideNavSlide {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

/* Window size scaling */

@media only screen and (max-width: 975px) {
    nav {
        text-align: center;
    }
}

@media only screen and (max-width: 835px) {
    .btn-menu {
        left: 0.0.5rem;
        box-sizing: border-box;
        height: 3.5rem;
        margin: 0.5rem;
    }

    .side-nav {
        width: 17.5rem;
        height: 82vh;
    }

    .ul-menu {
        margin-top: 1.75rem;
    }
    
    .side {
        padding: 2rem 0rem;
        font-size: 2rem;
    }

    .hover-content {
        /* for small screens, set postion: relative and make links appear like a list below. Absolute for desktop*/
        left: 17.5rem; /* make sure this matches the width of .side-nav */
        top: -1.75rem;
        background-color: rgba(15, 155, 141, 0.582);
        min-width: 17.5rem;
    }
    .hover-content a {
        font-size: 1.2rem;
        padding: 12px 16px;    
    }

    .nav-a {
        width: 8rem;
        font-size: 1rem;
        padding: 0.3rem 0.8rem;
        margin: 5px 2px;
    }
    nav {
        margin-bottom: -60px;
    }
}

@media only screen and (max-width: 700px) {
    .link {
        height: 6.5rem;
        width: 6.5rem;
    }
}

@media only screen and (max-width: 675px) {
    nav {
        text-align: center;
        margin-bottom: -10px;
    }
    .nav-a {
        width: 5rem;
        font-size: 0.8rem;
        padding: 0.3rem 0.8rem;
        margin: 5px 2px;        
    }
}

@media only screen and (max-width: 600px) {
    main {
        top: 3vh;
    }

    .nav-a:hover {
        transform: translateY(0.3rem);
    }

    .btn-menu:hover {
        cursor: pointer;
        background-color: rgba(15, 155, 141, 0.582);

        transition: 400ms all;
    }
    .btn-menu.active {
        background-color: rgba(15, 155, 141, 0.582);
    }

    .side-nav {
        position: absolute;
        width: 18rem;
        height: 100%;
    }

    .ul-menu {
        margin-top: 3rem;
    }
    
    .side {
        padding: 2.5rem 0rem;
        font-size: 2rem;
    }
    .side:hover {
        padding-bottom: 0rem;
        -webkit-box-shadow: 0 5px 5px rgb(34, 34, 34);
        -moz-box-shadow: 0 5px 5px rgb(34, 34, 34);
        box-shadow: 0 5px 15px rgb(34, 34, 34);
    }

    .hover-content {
        /* for small screens, set postion: relative and make links appear like a list below. Absolute for desktop*/
        position: relative;
        left: 0rem;
        top: 0rem;
        min-width: auto;
        box-shadow: none;
    }
    .hover-content a {
        font-size: 1.2rem;
        padding: 12px 16px;
        
        animation: tempLock 400ms;
    }

    .link {
        height: 5rem;
        width: 5rem;
        margin: 1rem 1rem;
    }
    .search-box {
        margin-top: 1.5rem;
        margin-right: 2rem;
    }
    .search-bar {
        width: 60%;
    }
    .time {
        font-size: 5rem;
        margin-top: 2rem;
    }

    .version-text-desktop {
        display: none;
    }
    .version-text-mobile {
        display: block;
    }
}

@media only screen and (max-width: 530px) {
    nav {
        margin-bottom: -40px;
    }
    .nav-a {
        width: 4.5rem;
        font-size: 0.72rem;
        padding: 0.28rem 0.6rem;
        margin: 5px 0px;
    }
}

@media only screen and (max-width: 475px) {
    .btn-menu {
        left: 0rem;
        box-sizing: border-box;
        height: 3rem;
        margin: 0.5rem;
    }

    nav {
        text-align: end;
    }
}

@media only screen and (max-width: 400px) {
    nav {
        text-align: center;
    }

    .btn-menu {
        left: 0rem;
        top: 85%;
        box-sizing: border-box;
        height: 4rem;
        margin: 1rem;
    }

    .side-nav {
        width: 100%;
        overflow: hidden;
        background-color: rgba(15, 155, 141, 0.753);
        border-radius: 0px 0px 0px 50px;
    }

    .ul-menu {
        margin-top: 1.75rem;
    }
    
    .side {
        padding: 2rem 0rem;
        font-size: 2rem;
    }

    .time {
        font-size: 4rem;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .link {
        height: 4.5rem;
        width: 4.5rem;
        margin: 0.75rem 0.75rem;
    }
}

/* my bullshit way of preventing accidental double tap on expanding menu links on mobile devices */
@keyframes tempLock {
    0% {
        pointer-events: none;
        cursor: default;

        opacity: 0;
        transform: translateY(-75px);
    }
    25% {
        pointer-events: all;
        cursor: pointer;
    }
    100% {
        opacity: 1;
    }
}