/*
grassiest charcoal
#343837
indiscernible ocean blue
#03719C
unsusceptible blue/green
#0F9B8E
*/

body {
    background: rgb(52, 56, 55);
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #0F9B8E;
    text-align: center;
}

main {
    display: block;
    position: relative;
    top: 10vh;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
}

.link {
    box-sizing: border-box;
    height: 7rem;
    width: 7rem;
    margin: 1rem 2rem;
    padding: 0;
    border: solid 0.5rem #03719C;
    border-radius: 100%;
    background-color: #0F9B8E;
    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 500ms;
}
.link:hover {
    transform: translateY(-0.5rem);
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transition: all 200ms;
}

.search-box {
    display: inline-block;
    position: relative;
    margin: auto;
    margin-top: 3rem;
}

.search-bar {
    width: 25rem;
    height: 2rem;
    font-size: 2rem;
    background-color: rgba(15, 155, 141, 0.39);
    border: 0.2rem solid #03719C;
    border-radius: 1.3rem;
    padding: 0.2rem 1rem;
    color: #343837;

    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 300ms;
}
.search-bar:focus {
    outline: none;
    border-radius: 0.7rem;
    background-color: #0F9B8E;
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transform: translateY(-0.2rem);
    transition: all 400ms;
}

.btn-search {
    display: inline-block;
    position: absolute;
    transform: translateY(-0.75rem);
    height: 2rem;
    margin: 1rem;
    border: solid 0.25em #03719C;
    border-radius: 100%;
    background-color: rgba(15, 155, 141, 0.39);
    box-shadow: 2px 5px 10px rgb(34, 34, 34);
    transition: all 400ms;
}
.btn-search:focus {
    outline: none;
}

.btn-focus {
    background-color: #0F9B8E;
    border-radius: 0.9rem;
    box-shadow: 2px 13px 17px rgb(34, 34, 34);
    transform: translateY(-1rem);
    transition: all 400ms;
}
.btn-inactive:hover {
    animation: infinite blinking 2000ms ease-in-out;
}

.time-box {
    display: block;
    position: relative;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.time {
    font-size: 8rem;
    color: rgba(15, 155, 141, 0.39);
}
.tick {
    color: #0F9B8E;
}

@keyframes blinking {
    0% {
        background-color: rgba(15, 155, 141, 0.39);
    }
    50% {
        background-color: #0F9B8E;
    }
    100% {
        background-color: rgba(15, 155, 141, 0.39);
    }
}

/* @keyframes blinkingClock {
    0% {
        color: rgba(15, 155, 141, 0.39);
    }
    100% {
        color: #0F9B8E;
    }
} */


